table {
    font-family: Arial, Helvetica, sans-serif;
    /* border-collapse: collapse; */
    border: 1px solid black;
    width: 100%;
  
  }
  
 td th {
    border: 1px solid rgb(26, 25, 25);
    padding: 8px;
  }
  
 tr:nth-child(even){background-color: #f2f2f2;}
  
 tr:hover {background-color: #ddd;}
  
 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    margin-top: 50px;
 }
